<div class="fixed-bottom bg-light py-4">
    <div class="container-fluid">
        <div class="row">
            <div class="col-4">
                <ul>
                    <li>Link 1</li>
                    <li>Link 1</li>
                    <li>Link 1</li>
                    <li>Link 1</li>
                </ul>
            </div>
            <div class="col-4 d-flex flex-column align-items-center justify-content-center fw-bolder">FOOTER ASANTE</div>
            <div class="col-4"></div>
        </div>
    </div>
</div>
