<div class="login-container container-fluid">
    <div class="login-form-container">
        <h1 class="lead">LOGIN </h1>
        <hr>
        <div class="mb-3">
            <label for="username" class="form-label">Usuario</label>
            <input type="text" class="form-control" id="username" autofocus placeholder="Ingresar usuario">
          </div>
          <div class="mb-3">
            <label for="password" class="form-label">Contraseña</label>
            <input type="password" class="form-control" id="password" placeholder="Contraseña">
          </div>
    </div>
</div>